/*CONTENT START CONTENT START CONTENT START CONTENT START CONTENT START CONTENT START CONTENT*/

p {
    color: black;
    font-size: 20px;
}

.text-color {
    color: black;
    font-size: 19px;
}

.fa-12x {
    font-size: 12em;
}

.content .block .title {
    text-align: center;
    font-size: 25px;
}

.content .block {
    display: block;
    overflow: hidden;
    text-align: center;
    margin-bottom: 5px;
}

.content .block h1 {
    margin-bottom: 20px;
}

.content .block .cards-1 {
    background-color: #30475e;
    border: solid #f5f5f7cc 1px;
    padding: 10px;
    display: inline-block;
    height: 100px;
    width: 100%;
}

.content .block .cards-3 {
    background-color: #f5f5f7cc;
    padding: 10px;
    float: left;
    width: calc((100% - 15px * 2) / 3);
    margin: 5px;
    border-radius: 2px;
    height: 357px;
    line-height: 70px;
    cursor: pointer;
    color: black;
}

.cards-2 .cards-3 {
    background-color: rgba(255, 255, 255, 0)!important;
    padding: 10px;
    display: inline-block;
    width: 32%;
    margin: 5px;
    border-radius: 2px;
    height: 357px;
    line-height: 70px;
    cursor: pointer;
    color: black;
}

.cards-2 .cards-2 {
    background-color: rgba(255, 255, 255, 0)!important;
    padding: 10px;
    display: inline-block;
    width: 32%;
    margin: 5px;
    border-radius: 2px;
    height: 357px;
    line-height: 70px;
    cursor: pointer;
    color: black;
}

.content .block .cards-2 {
    background-color: #f5f5f7cc;
    padding: 10px;
    float: left;
    height: 390px;
    line-height: 25px;
    width: calc((100% - 12px * 2) / 2);
    border-radius: 2px;
    margin: 5px;
}

.content .block .cards-3 .png {
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
}

.content .block .cards-2 .numberinput {
    height: calc(100% - 20px);
    padding: 10px;
}

.content .block .cards-2 .numberinput img {
    height: 100%;
    width: 100%;
    max-width: 100px;
    max-height: 100px;
    display: inline-block;
    margin-top: 24px;
}

.content .block .cards-2 .numberinput .piece-2 {
    width: 28%;
    height: 95%;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    line-height: 80px;
    align-items: center;
}

.content .block .cards-2 .numberinput .piece-2 input {
    width: 100px;
    height: 100px;
}

.content .block .cards-2 .numberinput .piece-2 .btn {
    font-size: 35px;
    padding: 0px 18px!important;
}

.content .block .cards-2 .numberinput .piece-2 span {
    padding: 2px;
}

.mods-button {
    height: 150px;
    width: 300px;
    color: black;
    font-size: 22px;
    margin: 5px;
}

.mods-selected {
    background-color: #6060e6;
    color: #ececec;
}


/*CONTENT END CONTENT END CONTENT END CONTENT END CONTENT END CONTENT END CONTENT END CONTENT END*/